<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark elevation-4 ">
    <!-- Sidebar -->
    <div class="bg-text " >
    <!-- Sidebar user panel (optional) -->
    <!-- Sidebar Menu -->
       <nav class="mt-2">
           <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="font-family:'Times New Roman';font-size:18px;">
               <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
               
               <li class="nav-item" style="padding-bottom:3em">
                   <a class="nav-link">
                       <i class="nav-icon fas fa-th"></i>
                       <p asp-controller="Admin" asp-action="Index" class="nav-link ">
                           <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                           <span class="pcoded-mtext" > Dashboard</span>
                       </p>
                   </a>
               </li>
    
               <li class="nav-item" >
                   <a [routerLink]="'/home'" class="nav-link " target="_blank"><span class="pcoded-micon"><i class="fas fa-home"></i></span><span class="pcoded-mtext" >  Home Page</span></a>
               </li>
    
              
                   <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                      
                   </li>
    
                    <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                      
                    </li>
    
                   
                    <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                        <a  class="nav-link "><span class="pcoded-mtext"> <span>Diets</span> </span></a>
    
                    </li>
    
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a  class="nav-link "> <span>Employee</span></a>
                    </li>
    
                   
    
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                         <a  class="nav-link "><i class="fa fa-sign-in" aria-hidden="true"></i><span class="pcoded-mtext">  SignIn</span></a>
                  </li>
    
                   <li data-username="Table bootstrap datatable footable" class="nav-item">
                    <a  class="nav-link "><i class="fa fa-sign-in" aria-hidden="true"></i><span class="pcoded-mtext"> <span>SignUp</span> </span></a>
                  </li>

                  <li class="nav-item"> <a class="nav-link" ><span>Sign Out</span></a>  </li>
          
             
    
             </ul>
           
             </nav>
        
                </div>
         
        
    </aside>
