<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 ">
    <!-- Sidebar -->
    <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <!-- Sidebar Menu -->
       <nav class="mt-2">
           <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="font-family:'Times New Roman';font-size:18px;">
               <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
               
               <li class="nav-item" style="padding-bottom:3em">
                   <a class="nav-link">
                       <i class="nav-icon fas fa-th"></i>
                       <p asp-controller="Admin" asp-action="Index" class="nav-link ">
                           <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                           <span class="pcoded-mtext" style="color:white">@ViewBag.Title Dashboard</span>
                       </p>
                   </a>
               </li>
    
               <li class="nav-item" >
                   <a asp-controller="Home" asp-action="Index" class="nav-link " target="_blank"><span class="pcoded-micon"><i class="fas fa-home"></i></span><span class="pcoded-mtext">  Home Page</span></a>
               </li>
    
              
                   <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                       <a asp-controller="Admin" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">    Dashboard</span></a>
                   </li>
    
                    <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                        <a asp-controller="Services" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span><span class="pcoded-mtext">  Services</span></a>
                    </li>
    
                   
                    <li data-username="form elements advance componant validation masking wizard picker select" class="nav-item">
                        <a asp-controller="Diets" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="fa fa-file" aria-hidden="true"></i></span><span class="pcoded-mtext">  Diets</span></a>
    
                    </li>
    
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a asp-controller="Employees" asp-action="Index" class="nav-link "><span class="pcoded-micon"><i class="fas fa-users"></i></span><span class="pcoded-mtext">  Employee</span></a>
                    </li>
    
                    <li data-username="Table bootstrap datatable footable" class="nav-item">
                        <a asp-controller="Admin" asp-action="SalarySlip" class="nav-link "><span class="pcoded-micon"><i class="fa fa-file" aria-hidden="true"></i></span><span class="pcoded-mtext">  Employees Salary Slip</span></a>
                    </li>
    
                    
    
                    
    
    
    
     <li data-username="Table bootstrap datatable footable" class="nav-item">
               <a asp-controller="Authentication" asp-action="SignIn" class="nav-link "><i class="fa fa-sign-in" aria-hidden="true"></i><span class="pcoded-mtext">  SignIn</span></a>
           </li>
    
               <li data-username="Table bootstrap datatable footable" class="nav-item">
               <a asp-controller="Authentication" asp-action="SignUp" class="nav-link "><i class="fa fa-sign-in" aria-hidden="true"></i><span class="pcoded-mtext">  SignUp</span></a>
           </li>
               <li class="nav-item">
                   <a class="nav-link" asp-controller="Authentication" asp-action="Logout">Sign Out</a>
               </li>
    
           </ul>
           
           </nav>
        
                </div>
         
        
    </aside>
