body{
    background-color: white;
}

* {
    box-sizing: border-box;

  }
  /* The Table Attributes */
  table {
    text-align: center;
    width: 700px;
    margin: 20px auto;
    font-family: sans-serif;
    border-bottom: 5px solid #1b5853;
    margin-top: 0%;
  }
  /* The Attributes that the Head and the Body of the Table Share */
  th,
  td {
    padding: 10px;
  }
  /* Attributes of the Head of the Body */
  th {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #0a4b57;
    color: white;
  }
  /* Attributes of Each Cell */
  td {
    background-color: rgb(222, 230, 238);
    color: black;
  }
  /*Attributes of Span*/
  span {
      
    padding: 5px 10px;
    margin: 3px;
    color: rgb(237, 242, 243);
  }
  /*Attributes */
  .blue {
    background-color: #0c3447;
  }
  .pink {
    background-color: #2b757a;
  }

  tr{
    height: 70px;

  }

  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
   
  }
  
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
 
    
  }
  
  .card .card_image {
    width: inherit;
    height: 200px;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: 200px;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: -40px;
    height: 20px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: rgb(8, 8, 8);
  }
  
  .title-black {
    color: black;
  }
 
  .card-body{
  color: #050a05;
  font-size: 14px;
  font-family: sans-serif;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

  
  .button {
    padding: 15px 25px 25px 25px;
    margin-bottom: 30px;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 30px;
    width: 300px;
    align-items: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #223030;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(165, 162, 162);
  }
  
  .button:hover {background-color: #da9ff1}
  
  .button:active {
    background-color: #050a05;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
 