
    <h1 style ="margin-left: 40%;font-weight: bold;font-size: 50px;color: rgb(11, 12, 12);font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Order Details</h1>

<br />
<br />

       
<div class="cards-list" >
  

  <div class="card" *ngFor="let item of service.data2">
    <div class="card_image" >
      <img src="../../../assets/1.jpg" />
     </div><br>
     <br>
    <div class="card_title title-white">
      <p>{{ item.name }}</p>
    </div>
    
    <div class="card-body row">
      
      <div class="col-lg-6">
      <label>Price : $ {{ item. price }}</label><br>
      <label>size : {{ item.generalSize }}</label><br></div>
      <div class="col-lg-6">
      <label>Color : {{ item.color }}</label><br>
      <label>Quantity : {{ item.quantity }}</label><br></div>
     
    </div> 
  </div>
    
  </div>

  <div > 
    <button type="submit" class="button" (click)="closedialog();" >Close</button>
  </div>
